@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Comfortaa', sans-serif;
}
html {
    font-size: 62.5%;
}
.container {
    width: 100%;
    height: 100vh;
    /* background-color: #2c3542; */
    background: url(../assets/images/quotes-background.jpg);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
    perspective: 100rem;
}
.calendar-app {
    width: 60%;
    min-width: 90vmin;
    aspect-ratio: 3/2;
    background-color: #1e242d;
    padding: 3rem;
    border-radius: 3rem;
    border: 1rem solid #0f1319;
    display: flex;
    column-gap: 5rem;
    position: relative;
    transform-style: preserve-3d;
}
.calendar-app::after {
    content: '';
    position: absolute;
    bottom: -12rem;
    left: 50%;
    transform: translate(-50%) rotateX(50deg);
    width: 90%;
    height: 16rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20rem;
    filter: blur(4rem);
}
.calendar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.heading {
    font-family: 'Bebas Neue', sans-serif;
    font-size: clamp(4rem, 3.8cqi, 7rem);
    color: #fff;
    letter-spacing: 0.3rem;
    text-align: center;
}
.quote-field {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 2rem;
}
.quote-body {
    font-size: clamp(2.1rem, 2.2cqi, 3rem);
}
.quote-author {
    font-size: clamp(1.5rem, 1.6cqi, 2rem);
    color: #b7b4b4;
}
.quote-btn {
    cursor: pointer;
    font-family: 'Bebas', sans-serif;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    padding: 2rem;
    border-radius: 7px;
    border: none;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 1.1rem 0.4rem rgba(207, 206, 204, 0.3);
}
.quote-btn:hover {
    transform: translateY(-0.1rem);
    transition: all 0.3s ease-in-out;
}
.quote-btn:active {
    transform: translateY(0.3rem);
    transition: all 0.3s ease-in-out;
}
